[Unit]
Description=Prevent Units

[Service]
ExecStart=/usr/bin/sh -c "while true ; do sleep 86400 ; done"
Restart=Always
RestartSec=5

[X-Fleet]
Global=true
MachineMetadata=role=etcd
MachineMetadata=role=bastion
