[Unit]
Description=Vault Service
Requires=docker.service
Requires=etcd2.service
After=docker.service
After=etcd2.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull brandfolder/vault-coreos
ExecStart=/usr/bin/docker run \
  --rm \
  --name %p \
  -e SERVICE_NAME=vault \
  -e ETCD_ADDRESS="http://${COREOS_PRIVATE_IPV4}:2379" \
  -e ETCD_ADVERTISE_ADDR="http://${COREOS_PRIVATE_IPV4}:8200" \
  -e VAULT_ADDRESS="0.0.0.0:8200" \
  -e VAULT_TLS_DISABLE=1 \
  -p 8200:8200 \
  --cap-add IPC_LOCK \
  brandfolder/vault-coreos
ExecStartPost=/usr/bin/wget -q https://releases.hashicorp.com/vault/0.5.2/vault_0.5.2_linux_amd64.zip
ExecStartPost=/usr/bin/mkdir -p /opt/bin
ExecStartPost=/usr/bin/unzip vault_0.5.2_linux_amd64.zip -d /opt/bin -o
ExecStartPost=/usr/bin/sh -c "echo 'export VAULT_ADDR=http://127.0.0.1:8200' > /etc/profile.d/vault-addr.sh"
ExecStop=-/usr/bin/docker rm -f %p
Restart=always
RestartSec=5

[X-Fleet]
Global=true
